.contact > * + * {
  margin-top: 1rem;
}

li > p {
  margin: 0;
}

p > span {
  vertical-align: middle;
}

.contact a {
  color: #8e8e8e;
}

.button {
  background-color: var(--clr-green);
  border: 2px solid var(--clr-green);
  color: var(--clr-white);
  border-radius: 5px;
  text-decoration: none;
  padding: 0.2rem 2rem;
}
